html {
  background:#222;
  color:#fff;
  font-family:'American Typewriter', 'Courier New', Courier, Monaco, mono;
  font-size:2em;
  line-height:1.5;
  letter-spacing:.075em;
  text-align:center;
}

body {
  padding:2.5em 1em;
}

p {
  transition:all .5s;
  max-width:15em;
  margin:0 auto;
}

